<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name='menu'></ion-icon>
    </button>
    <ion-title>Tasks</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <button ion-item *ngFor='let task of tasks' (click)='navigateToTask(task.page)'>
      <ion-icon [name]='task.icon' item-start></ion-icon>
      {{ task.title }}
    </button>
  </ion-list>
</ion-content>