<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name='menu'></ion-icon>
    </button>
    <ion-title>Logged in as {{ user.name }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col col-12>
        <h6>Email: {{ user.email }}</h6>
        <h6>Login type: {{ loginType }}</h6>
        <ion-card>
          <ion-card-header>
            Authentication token:
          </ion-card-header>
          <ion-card-content>
            <p>
              {{ authToken }}
            </p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>