<ion-header>
  <ion-navbar>
    <ion-title>one-signal</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row *ngFor='let notification of notifications'>
      <ion-col col-12>
        <ion-card>
          <ion-card-header>
            {{ notification.payload.title }}
          </ion-card-header>
          <ion-card-content>
            {{ notification.payload.body }}
            <ion-row>
              <ion-col col-4 offset-6>
                {{ notification.dateTime }}
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>