page-cloudinary {
    ion-content {
        background-color: #6991f2!important;
    }
    #uploader {
        border-radius: 5px;
        box-shadow: 0px 0px 8px rgba(0,0,0,0.2); 
        background-color: white;
        margin: auto;
        text-align: center;

        button {
            border-radius: 5px;
            border: 1px dashed rgb(161, 161, 161);
            width: 90%;
            margin: auto;
            min-height: 130px;
            background: white;
            margin: 14px;
            position: relative;
            overflow: hidden;
            input {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                opacity: 0.001
            }   
            span {
                padding-top: 40px;
            }
        }
    }
    h4 {
        margin-top: 30vh;
    }
    #upload-status {
        margin-top: 15px;
        border-radius: 5px;
        box-shadow: 0px 0px 8px rgba(0,0,0,0.2); 
        background-color: white;
        ion-icon {
            padding-top: 12px;
        }
        p {
            font-size: 12px;
        }
        button {
            font-size: 10px;
        }
    }

    #upload-progress {
        padding-top: 16px;
        font-size: 16px;
    }
}
