<ion-header>
  <ion-navbar>
    <ion-title>Cloudinary</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-grid>
    <ion-row align-items-center>
      <ion-col col-12 id="uploader">
        <button>
          <input  type="file" ng2FileSelect [uploader]="uploader" multiple>
          <span>Tap to upload</span>
        </button>
      </ion-col>
      <ion-col col-12 id="upload-status" *ngIf="currentFile">
        <ion-row>
          <ion-col col-1>
              <ion-icon name='image' item-start></ion-icon>
          </ion-col>
          <ion-col col-8>
            <p>{{ currentFile.name }}</p>
          </ion-col>
          <ion-col col-3 *ngIf="!uploader.isUploading">
            <button ion-button (click)="uploader.uploadAll()">
              Upload
            </button>
          </ion-col>
          <ion-col col-3 *ngIf="uploader.isUploading" id="upload-progress">
              {{ uploader.progress }} %
            </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <ion-col col-4 *ngFor="let image of images">
        <img [src]="image.url" width="100%">
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>